/* General */
* {
    margin: 0;
    padding: 0;
}

body {
    color: #333;
    font-family: sans-serif;
    max-width: 800px;
    margin: 0 auto;
}

img {
    max-width: 100%;
}

a {
    color: #000;
    text-decoration: underline;
}

h1 {
    margin: 0 0 20px 0;
    font-size: 36px;
}

h2 {
    margin: 20px 0 10px 0;
    font-size: 28px;
}

.header {
    border-bottom: 1px #999 solid;
    text-align: right;
    padding-right: 10px;
}

.header .twitter-link img {
    height: 40px;
}

.header .github-link img {
    height: 26px;
}

.header .feed-link img {
    height: 26px;
}

.header .title {
    font-size: 96px;
}

.header .subtitle {
    font-size: 60px;
}

.header .title, .header .subtitle {
    color: #333;
    display: block;
    text-decoration: none;
}

.header .social-links {
    display: flex;
}

.header .social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
}

.tags-icon {
    width: 10px;
    margin-right: 5px;
}

.content {
    margin-top: 30px;
    margin: 30px 20px 0 20px;
    font-size: 20px;
    line-height: 32px;
}

.content p {
    margin: 20px 0;
}

.content ul,
.content ol {
    margin-left: 40px;
}

.content blockquote {
    border-left: 5px #999 solid;
    color: #666;
    padding-left: 10px;
    font-style: italic;
}

.content .post-excerpt {
    margin: 0 0 30px 0;
    padding: 0 0 20px 0;
    border-bottom: 1px #ccc solid;
}

.content .post-excerpt h2 a {
    text-decoration: none;
}

.content .post .tags,
.content .post-excerpt .tags,
.content .post .date,
.content .post-excerpt .date {
    color: #666;
    font-size: 14px;
}

.content .post .tags {
    margin: -25px 0 10px 0;
}

.content .post-excerpt .tags {
    margin: -20px 0 10px 0;
}

.content .post-excerpt .date,
.content .post .date {
    margin: -25px 0 10px 0;
}

.content .post .highlighter-rouge {
    background-color: #f8f8f8;
    margin: 20px 0;
}

.content .post {
    border-bottom: 1px #999 solid;
    margin-bottom: 10px;
}

.content .interactions {
    text-align: right;
}

.content .interactions ul {
    font-size: 16px;
    list-style-type: none;
    margin-bottom: 10px;
}

.content .interactions ul li {
    display: inline-block;
    margin-left: 10px;
}
