* {
    margin: 0;
    padding: 0;
}

body {
    color: #999;
    font-family: Verdana, sans-serif;
}

.step {
    position: relative;

    height: 850px;
    width: 1300px;
}

.slide h3 {
    position: absolute;
    width: 100%;
    top: 100px;
    
    text-align: center;
    color: #333;
    font-size: 100px;
    font-weight: 700;
    text-shadow: #000 1px 1px 3px;
}

.slide ul {
    position: absolute;
    width: 100%;
    top: 300px;
    
    list-style-type: none;
    
    text-align: center;
    line-height: 100px;
    font-size: 60px;
    text-shadow: #000 1px 1px 1px;
}

/* TITLE */

#title h2 {
    position: absolute;

    top: 150px;
    left: 540px;

    font-size: 50px;
    font-weight: 400;
    text-shadow: #000 1px 1px 1px;
}

#title h1 {
    position: absolute;

    top: 150px;
    right: 150px;

    color: #333;
    font-size: 160px;
    font-weight: 700;
    text-shadow: #000 1px 1px 3px;
}

#title .author {
    position: absolute;

    right: 150px;
    top: 600px;

    color: #333;
    font-size: 40px;
    font-weight: 700;
}

#title .author-job {
    position: absolute;

    right: 150px;
    top:650px;

    font-size: 25px;
    text-align: right;
}

#title .author-job ul {
    top: 0;
    left: 0;
    
    list-style-type: none;
}

/* CAP */
#cap {
    position: absolute;
    top: 425px;
    left: 650px;

    margin: -297px 0 0 -451px;
}

/* ACID */

/* Cassandra */
#cassandra {
    position: absolute;
    top: 425px;
    left: 650px;
    
    margin-top: -336px;
    margin-left: -500px;
}

#cassandra img {
    width: 1000px;
}

/* Column Family */
.columnfamily caption {
    font-size: 30px;
}

.columnfamily table td,
.columnfamily table th {
    padding: 10px;
}

.padding table th {
    vertical-align: top;
}