<!DOCTYPE html>
<html lang="en">
    <head>
        <script async data-no-cookie src="https://cdn.splitbee.io/sb.js"></script>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link rel="stylesheet" type="text/css" href="/css/style.css" />
        <link rel="stylesheet" type="text/css" href="/css/github.css" />
        <link rel="alternate" type="application/atom+xml" href="/feed.xml" />

        {% seo %}
    </head>
    <body>
        <header class="header">
            <a href="/" class="title">Daniel Rotter</a>
            <a href="/" class="subtitle">Web Developer</a>
            <div class="social-links">
                <a href="https://www.linkedin.com/in/rotter-daniel/" class="social-link">
                    <img alt="LinkedIn" src="/images/linkedin.svg" width="26" height="26" />
                </a>
                <a href="https://mastodon.social/@danrot" class="social-link" rel="me">
                    <img alt="LinkedIn" src="/images/mastodon.svg" width="26" height="26" />
                </a>
                <a href="https://www.github.com/danrot" class="social-link github-link">
                    <img alt="GitHub" src="/images/github.svg" width="26" height="26" />
                </a>
                <a href="/feed.xml" class="social-link feed-link">
                    <img alt="Feed" src="/images/feed.svg" width="26" height="26" />
                </a>
                <a href="https://www.twitter.com/danrot90" class="social-link twitter-link">
                    <img alt="Twitter" src="/images/twitter.svg" width="40" height="40" />
                </a>
            </div>
        </header>
        <main class="content">
            {{ content }}
        </main>
    </body>
</html>
