<!DOCTYPE html>
<html lang="en">
    <head>
        <script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "28c152698de64ffbb44ece3991e44b27"}'></script>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link rel="stylesheet" type="text/css" href="/css/style.css" />
        <link rel="stylesheet" type="text/css" href="/css/github.css" />
        <link rel="alternate" type="application/atom+xml" href="/feed.xml" />

        {% seo %}
    </head>
    <body>
        <header class="header">
            <a href="/" class="title">Daniel Rotter</a>
            <a href="/" class="subtitle">Web Developer</a>
            <div class="social-links">
                <a href="https://www.github.com/danrot" class="social-link github-link">
                    <img alt="GitHub" src="/images/github.svg" width="26" height="26" />
                </a>
                <a href="https://www.twitter.com/danrot90" class="social-link twitter-link">
                    <img alt="Twitter" src="/images/twitter.svg" width="40" height="40" />
                </a>
                <a href="/feed.xml" class="social-link feed-link">
                    <img alt="Feed" src="/images/feed.svg" width="26" height="26" />
                </a>
            </div>
        </header>
        <main class="content">
            {{ content }}
        </main>
    </body>
</html>
