<!DOCTYPE html>
<html>
    <head>
        <title>Daniel Rotter - {{ page.title }}</title>

        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link rel="stylesheet" type="text/css" href="/css/style.css" />
    </head>
    <body>
        <div id="header">
            <h1>Daniel Rotter</h1>
        </div>
        <div id="navigation">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/aboutme.html">About Me</a></li>
                <li><a href="/presentations.html">Presentations</a></li>
                <li><a href="/blog.html">Blog</a></li>
                <li><a href="https://www.github.com/danrot">GitHub</a></li>
                <li><a href="https://www.twitter.com/danrot90">Twitter</a></li>
            </ul>
        </div>
        <div id="content">
            {{ content }}
        </div>
    </body>
</html>
