---
layout: master
---
<article class="post">
    <h1>{{ page.title }}</h1>
    <div class="tags">
        <img alt="tags" src="/images/tags.svg" class="tags-icon" />
        {{ page.tags | join: ", " }}
    </div>
    <div class="date">
        <img alt="time" src="/images/clock.svg" class="tags-icon" />
        {{ page.date | date_to_string }}
    </div>
    <div class="body">
        {{ content }}
    </div>
</article>

<nav class="interactions">
    © Daniel Rotter
    <ul>
        <li><a href="https://twitter.com/search?q={{ site.url }}{{ page.url }}">Discuss on Twitter</a></li>
        <li><a href="https://github.com/danrot/danrot.github.io/edit/master/{{ page.path }}">Edit on GitHub</a></li>
    </ul>
</nav>
