---
layout: master
---
<article>
	<header>
		<h1>{{ page.title }}</h1>
		<div>{{ page.tags | join: ", " }}</div>
		<time datetime="{{ page.date }}" pubdate>{{ page.date | date_to_string }}</time>
	</header>

	{{ content }}

	<footer>
		<div>
			Any thoughts? Contact me on <a href="https://www.linkedin.com/in/rotter-daniel/">LinkedIn</a> or
			<a href="https://mastodon.social/@danrot">Mastodon</a> and share them with me!
		</div>

		<div><a href="https://github.com/danrot/danrot.github.io/edit/master/{{ page.path }}">Edit on GitHub</a></div>
	</footer>
</article>
